body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.gallery {
  max-width: 100%;
}

/* Image */

.gallery__img-wrapper {
  overflow: hidden;
}

.gallery__img {
  max-width: 100%;
  cursor: grabbing;
  transform-origin: center;
}

/* Buttons */

.gallery__buttons {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin-top: 1rem;
}

button {
  cursor: pointer;
}
